<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h2>Lista de Usuarios</h2>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.nombre }}</td>
            <td>{{ user.apellido_pat }}</td>
            <td>{{ user.apellido_mat }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('login') }}">Volver al Login</a>
</body>
</html>